<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.mapper.MemberMapper">

	<!--회원가입-->
	<insert id = "addMember">
			INSERT INTO member (id, passwd, name, birth1, birth2, birth3, email, tel, reg_date) 
			VALUES (#{id}, #{passwd}, #{name}, #{birth1}, #{birth2}, #{birth3}, #{email}, #{tel}, #{regDate}) 
	</insert>
	
	<!--아이디 중복체크-->
	<select id ="getCountById" resultType="int">
		SELECT COUNT(*) FROM member WHRER id = #{id}
	</select> 
	
	<!-- 로그인시 아이디 패스워드 일치 여부  -->
	<select id="userCheck" resultType="string">
		SELECT passwd FROM member WHERE id = #{id}
	</select>
	
	<!-- 탈퇴   -->
	<delete id="deleteMember" >
		DELETE FROM member
		WHERE id = #{id}
		
	</delete>
	
	<!--탈퇴시 탈퇴이유 등록  -->
	<insert id ="insertBye">
		INSERT INTO bye (reason,bye_date)
		VALUES (#{reason}, #{byeDate})
	</insert>
	
	<!-- 아이디 찾기   -->
	<select id="selectByUser" resultType="memberVo">
		SELECT * FROM member
		WHERE name = #{name}
		AND	email = #{email}
		AND  tel = #{tel}
		
	</select>
	
	<select id ="readMember" resultType="memberVo">
		SELECT * FROM member
		WHERE id = #{id}		
	</select>
	
	<!--비밀번호 찾기   -->
	<select id="selectByPw" resultType="memberVo">
		SELECT * FROM member
		WHERE id = #{id}
		AND	email = #{email}
		AND  tel = #{tel}
		
	</select>
	
	<!--비밀번호 변경  -->
	<update id="updatePw" parameterType="memberVo" >
		UPDATE member set passwd = #{passwd}
		WHERE id = #{id}
	</update>

</mapper>